# Working on Real Project with Python

## (A part of Big Data Analysis)

***

# Cars Dataset
***
Here, 
The data of different cars is given with their specifications.


This data is available as a CSV file. We are going to analyze this data set using the Pandas DataFrame.

----

In [28]:
import pandas as pd

In [29]:
car = pd.read_csv(r"D:\Main\My Practice and experiments\My Practice LAB\Python\2023\Udemy\Python - Data Analytics - Real World Hands-on Projects\Project_2\Cars.csv")

In [30]:
car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17.0,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24.0,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,NaN,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20.0,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18.0,24,3880,115,197

In [31]:
car.shape

(428, 15)

In [38]:
car[car.isnull().any(axis=1)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,NaN,29,3230,105,183
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366",3.0,6.0,220,NaN,26,3583,104,179
28,BMW,325i 4dr,Sedan,Europe,Rear,"$28,495","$26,155",2.5,6.0,184,NaN,29,3219,107,176
48,Buick,Century Custom 4dr,Sedan,USA,Front,"$22,180","$20,351",3.1,6.0,175,NaN,30,3353,109,195
58,Cadillac,Deville 4dr,Sedan,USA,Front,"$45,445","$41,650",4.6,8.0,275,NaN,26,3984,115,207
67,Chevrolet,Aveo 4dr,Sedan,USA,Front,"$11,690","$10,965",1.6,4.0,103,NaN,34,2370,98,167
93,Chrysler,Sebring Touring 4dr,Sedan,USA,Front,"$21,840","$20,284",2.7,6.0,200,NaN,28,3222,108,191
108,Dodge,Intrepid SE 4dr,Sedan,USA,Front,"$22,035","$20,502",2.7,6.0,200,NaN,29,3469,113,204
121,Ford,Escape XLS,SUV,USA,All,"$22,515","$20,907",3.0,6.0,201,NaN,23,3346,103,173
145,GMC,Canyon Z85 SL Regular Cab,Truck,USA,Rear,"$16,530","$14,877",2.8,4.0,175,NaN,25,3351,111,192
161,Honda,Accord LX V6 4dr,Sedan,Asia,Front,"$23,760","$21,428",3.0,6.0,240,NaN,30,3349,108,190
174,Hyundai,Sonata GLS 4dr,Sedan,Asia,Front,"$19,339","$17,574",2.7,6.0,170,NaN,27,3217,106,187
182,Infiniti,I35 4dr,Sedan,Asia,Front,"$31,145","$28,320",3.5,6.0,255,NaN,26,3306,108,194
193,Jaguar,S-Type R 4dr,Sedan,Europe,Rear,"$63,120","$57,499",4.2,8.0,390,NaN,24,4046,115,192
202,Jeep,Liberty Sport,SUV,USA,All,"$20,130","$18,973",2.4,4.0,150,NaN,24,3826,104,174
205,Kia,Optima LX 4dr,Sedan,Asia,Front,"$16,040","$14,910",2.4,4.0,138,NaN,30,3281,106,186
216,Land Rover,Discovery SE,SUV,Europe,All,"$39,250","$35,777",4.6,8.0,217,NaN,16,4576,100,185
224,Lexus,GS 300 4dr,Sedan,Asia,Rear,"$41,010","$36,196",3.0,6.0,220,NaN,25,3649,110,189
235,Lincoln,Town Car Signature 4dr,Sedan,USA,Rear,"$41,815","$38,418",4.6,8.0,239,NaN,25,4369,118,215
241,Mazda,Mazda3 i 4dr,Sedan,Asia,Front,"$15,500","$14,525",2.0,4.0,148,NaN,34,2696,104,178
255,Mercedes-Benz,C240 4dr,Sedan,Europe,Rear,"$32,280","$30,071",2.6,6.0,168,NaN,25,3360,107,178

1) Instruction ( For Data Cleaning ) 
- Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

In [39]:
car.isnull().sum()

Make            0
Model           0
Type            0
Origin          0
DriveTrain      0
MSRP            0
Invoice         0
EngineSize      0
Cylinders       0
Horsepower      0
MPG_City       21
MPG_Highway     0
Weight          0
Wheelbase       0
Length          0
dtype: int64

In [33]:
car['Cylinders'].fillna(car['Cylinders'].mean(), inplace = True)

In [40]:
null_values = car.isnull().sum()
print(null_values)

Make            0
Model           0
Type            0
Origin          0
DriveTrain      0
MSRP            0
Invoice         0
EngineSize      0
Cylinders       0
Horsepower      0
MPG_City       21
MPG_Highway     0
Weight          0
Wheelbase       0
Length          0
dtype: int64

----

2) Question ( Based on Value Counts )
- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data
?

In [41]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17.0,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24.0,31,2778,101,172

In [45]:
car['Make'].value_counts().sort_values(ascending=False)

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Chrysler         15
Volkswagen       15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Mazda            11
Lexus            11
Kia              11
Pontiac          11
Subaru           11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Saab              7
Acura             7
Porsche           7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: count, dtype: int64

----

3) Instruction ( Filtering )
- Show all the records where Origin is Asia or Europe.
- Show all the records where Make is Jeep and Land Rover.

In [9]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [46]:
car[car['Make'].isin(['Jeep', 'Land Rover'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
201,Jeep,Grand Cherokee Laredo,SUV,USA,Front,"$27,905","$25,686",4.0,6.0,195,16.0,21,3790,106,181
202,Jeep,Liberty Sport,SUV,USA,All,"$20,130","$18,973",2.4,4.0,150,NaN,24,3826,104,174
203,Jeep,Wrangler Sahara convertible 2dr,SUV,USA,All,"$25,520","$23,275",4.0,6.0,190,16.0,19,3575,93,150
215,Land Rover,Range Rover HSE,SUV,Europe,All,"$72,250","$65,807",4.4,8.0,282,12.0,16,5379,113,195
216,Land Rover,Discovery SE,SUV,Europe,All,"$39,250","$35,777",4.6,8.0,217,NaN,16,4576,100,185
217,Land Rover,Freelander SE,SUV,Europe,All,"$25,995","$23,969",2.5,6.0,174,18.0,21,3577,101,175

In [47]:
car[car['Origin'].isin(['Asia', 'Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17.0,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24.0,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,NaN,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20.0,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18.0,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21.0,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20.0,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19.0,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22.0,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20.0,27,3823,109,186

In [11]:
car['Origin'].value_counts()

Origin
Asia      158
USA       147
Europe    123
Name: count, dtype: int64

In [12]:
158 + 123

281

----

4) Instruction ( Removing unwanted records )
- Remove all the records (rows) where Weight is above 4000.

In [13]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [48]:
car[~(car['Weight'] > 4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24.0,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,NaN,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20.0,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18.0,24,3880,115,197
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225,18.0,24,3893,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21.0,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20.0,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19.0,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22.0,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20.0,27,3823,109,186

In [15]:
428 - 103

325

-----

5) Instruction ( Applying function on a column )
- Increase all the values of 'MPG_City' column by 3.

In [50]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17.0,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24.0,31,2778,101,172

In [51]:
car['MPG_City'] =  car['MPG_City'].apply(lambda x:x+3)

In [52]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,20.0,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,27.0,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,NaN,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,23.0,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,21.0,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,24.0,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,23.0,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,22.0,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,25.0,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,23.0,27,3823,109,186

----

----

-----

----

### By - Rohit Grewal